EXAMPLE/inversion_results/**

ENAM/optimization_tests/**

job_info_scratch/**

SYNTHETICS/inversion_results/**
SYNTHETICS/**.mat
SYNTHETICS/**.mod

data/**


# Some obnoxious files I never want to keep I think
**TegPs**
**TegPs**
**startAR_cvfrechet_**
**startAR**
**startAL**
**diary**
**.eig
**.asc
**.mode
**.run_mineos
**vel_profile
**pathsAutoGen.m
**nohup**.out


**.DS_Store
**.m~
**.zip
**.png
**.jpg
**.eps
**.pdf
**.svg
**.tif
**.html
**.fig
**.asv
**.mat


papers_etc/**
SYNTHETICS/**.mat
SYNTHETICS/**/**.mat

!**.m
!**.py
!**.f
!**.c
!README*

junk/**
# This is just used to hold codes that I later developed and got running. They are elsewhere on my machine.
# There are some modifications, though.
external_code_STORAGE/**
code_storage_DELETE**/**
ENAM/batch/process_ID.txt

**process_ID.txt
ENAM/process_ID_**

ENAM/finalmod.model
ENAM/finalmodR.log
ENAM/old_running_files/**
matlab_to_hv_kernel/startB.log
matlab_to_hv_kernel/startB.run_HVker
matlab_to_hv_kernel/startB.out
matlab_to_hv_kernel/startB.model

**pathsAutoGen.m
*.jpeg
investigations/h-kappa-tests/ears_waveforms/Ears/gauss_2.5/**
figures/xsect/stafile*.txt

.vscode/*