EXAMPLE/inversion_results/**


SYNTHETICS/inversion_results/**
SYNTHETICS/**.mat 
SYNTHETICS/**.mod 

data/**


# Some obnoxious files I never want to keep I think
**TegPs**
**TegPs**
**startAR_cvfrechet_**
**startAR**
**startAL**
**diary**
**.eig 
**.asc 
**.mode
**.run_mineos


**.DS_Store
**.m~
**.zip
**.png
**.jpg
**.eps
**.pdf
**.svg
**.tif
**.html 
**.fig 
**.asv
**.mat 


papers_etc/** 
SYNTHETICS/**.mat 
SYNTHETICS/**/**.mat

!**.m
!**.py
!**.f
!**.c

junk/**
# This is just used to hold codes that I later developed and got running. They are elsewhere on my machine. 
# There are some modifications, though. 
external_code_STORAGE/**
code_storage_DELETE**/**
ENAM/batch/process_ID.txt
